@model List<Student>
@{
    Layout = "Manish_Layout";
}
<h1>Welcome to the Student Field</h1>

<table class="table table-bordered">
    <tr>
        <th>Id</th><th>Student Name</th><th>Father Name</th><th>Class</th><th>Roll No</th><th>Phone Number</th><th>Email</th>
    </tr>
    @foreach(var sdnt in Model)
        {
            <tr>
                <td>@sdnt.Id</td><td>@sdnt.SName</td><td>@sdnt.FName</td><td>@sdnt.Class</td><td>@sdnt.Rollno</td><td>@sdnt.PhoneNo</td><td>@sdnt.Email</td>
            </tr>        
        }
    
</table>